<div class="container">
  <h1>Stupid coaching</h1>
    <form action="/answer" class="form-group">
      <label for="question">Ask your coach anything</label>
      <div class="d-flex">
        <input type="text" name="question" class="form-control">
        <input type="submit" value="Ask!" class="btn btn-primary">
      </div>
    </form>
</div>

